{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>bootstrap</title>
</head>

<body>
    <center>
        <h1 class="text-danger bg-dark">Bootstrap</h1>
        <div class="card">
            <div class="card-header">
                <img src="{%static 'images/ntr.avif'%}" alt="" class="img-fluid">
            </div>
            <div class="card-body">
                <h2>About :</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos nisi commodi quam provident earum
                    voluptatem, deleniti harum ratione accusantium quos? Magni similique corporis excepturi culpa
                    consequatur quidem sit et asperiores?</p>
            </div>
        </div>
    </center>

</body>

</html>